* {
  box-sizing: border-box;
}

body {
  background-color: #8b2be5d3;
  width: 100%;
  line-height: 1.75;  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;  
}

.fixo {
  margin: 2.5% 0 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;    
}

#eu {
  border-radius: 90%;
}

.fixo h1 {
  font-weight: bold;
  font-size: 1.25rem;
}

.fixo a {
  color: #fff;
}

.layer {
  background-color: #fff;
  opacity: 0.8;
  width: 90%;
  margin: 0 auto 5% auto;
  padding: 2.5% 0 2.5% 0;
}

.container h2 {
  margin-left: 2.5%;
  font-size: 1.25rem;
}

.container p, .container ul {
  width: 90%;
  margin: 0 auto;
  text-align: justify;
}

.container hr {
  margin: 2.5% 0 2.5% 0;
}

.container li {
  margin-left: 2.5%;
  list-style: disc;
}

.dashed_line {
  width: 90%;
  border-style: dashed;
  color: gray;  
}

@media screen and (min-width: 1024px) { 
  .fixo {
    position: fixed;
    width: 22.5%;
  }

  .layer {
    margin: 5% 2.5% 2.5% auto;
    width: 75%;
  }
}