body {
  background-color: #9900cc;
  width: 100%;
  line-height: 1.5;
  font-family: Times New Roman;
  margin: 0 auto;
  
}

.fixo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;  
}

#eu {
  border-radius: 50%;
}

.fixo h1 {
  font-weight: bold;
  font-size: 1.25rem;
}

.msg_icons {
  width: 220px;
}

.fixo a {
  color: #fff;
  vertical-align: top;
}

